<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Area of geographical perception</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" >
  <!-- 引入样式 -->
  <link href="https://cdn.bootcss.com/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <link rel="stylesheet" href="css/fontawesome5.6.3/css/simple.css">
  <link rel="stylesheet" href="css/login.css">
</head>
<body>
  <div id="app">
  	
  	<div v-show="!preloading" class="el-loading-mask" style="background-color: rgba(255,255,255,1);">
	   <div class="el-loading-spinner">
	    <i class="fa fa-spinner fa-pulse"></i>
 	    <p class="el-loading-text">Loading...</p>
	   </div>
    </div>
  
     <el-form v-show="preloading" :model="ruleForm" :rules="rules" ref="ruleForm" label-position="left" label-width="0px" class="demo-ruleForm login-container">
	    <h3 class="title">Area of geographical perception</h3>
	    <el-form-item prop="username">
	      <el-input type="text" v-model="ruleForm.username" auto-complete="off" placeholder="username"></el-input>
	    </el-form-item>
	    <el-form-item prop="password">
	      <el-input type="password" v-model="ruleForm.password" auto-complete="off" placeholder="password"></el-input>
	    </el-form-item>
	    <!-- <el-checkbox v-model="checked" checked class="remember">remember password </el-checkbox> -->
	    <el-form-item style="width:100%;">
	      <el-button type="primary" style="width:100%;" @click.native.prevent="handleSubmit" :disabled="logining">Login</el-button>
	    </el-form-item>
	    <el-form-item style="width:100%;margin-top: -16px;">
	      <el-button style="width:100%;" @click.native.prevent="handleRegister">Register</el-button>
	    </el-form-item>
	  </el-form>
	  
	  
		<!--Register-->
		<el-dialog title="" :visible.sync="addFormVisible" :close-on-click-modal="false" width="95%" :show-close="false">
			<el-form size="mini" :model="addForm" :label-position="'top'" :rules="addFormRules" ref="addForm">
				<el-form-item label="Username" prop="username">
			      <el-input type="text" v-model="addForm.username" placeholder=""></el-input>
			    </el-form-item>
			    <el-form-item label="Password" prop="password">
			      <el-input type="password" v-model="addForm.password" placeholder=""></el-input>
			    </el-form-item>
			    <el-form-item label="Confirmed password" prop="password2">
			      <el-input type="password" v-model="addForm.password2" placeholder=""></el-input>
			    </el-form-item>
			    <!-- <el-form-item label="Nick" prop="nick">
			      <el-input type="text" v-model="addForm.nick" placeholder=""></el-input>
			    </el-form-item> -->
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button @click="regClose">close</el-button>
				<el-button type="primary" @click="addRegister" :loading="addLoading">submit</el-button>
			</div>
		</el-dialog>
  </div>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
  <!-- 先引入 Vue -->
  <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://cdn.bootcss.com/element-ui/2.4.0/index.js"></script>
  <script src="https://cdn.bootcss.com/element-ui/2.4.0/locale/en.js"></script>
  <script type="text/javascript" src="js/login.js"></script>
  <script>
	  ELEMENT.locale(ELEMENT.lang.en)
  </script>
</body>
</html>